@font-face {
    font-family: 'bion-bold';
    src: url(./fonts/bion-bold-webfont.woff2) format('woff2'),
    url(./fonts/bion-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bion-book';
    src: url(./fonts/bion-book-webfont.woff2) format('woff2'),
    url(./fonts/bion-book-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'bion-bold', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'bion-bold', source-code-pro, Menlo, Monaco, Consolas, 'Bion',
    monospace;
}


:root{
  --primary: #4275C2;
  --secondary: #6A9DEA;
  --text: #001331;
  --black: #373737;
  --white: #F5F5F5;
}