body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Bion', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Bion',
    monospace;
}


:root{
  --primary: #4275C2;
  --secondary: #6A9DEA;
  --text: #001331;
  --black: #373737;
  --white: #F5F5F5;
}