@page
@model CrossOverBack.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ClientId" class="control-label"></label>
                <select asp-for="Order.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="Order.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.WorkerId" class="control-label"></label>
                <select asp-for="Order.WorkerId" class="form-control" asp-items="ViewBag.WorkerId"></select>
                <span asp-validation-for="Order.WorkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.StatusId" class="control-label"></label>
                <select asp-for="Order.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Order.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
