.Calc{
    display: flex;
    flex-direction: column;
}

.Calc-Content{
    padding: 60px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: row;
}

.Calc-Body{
    width: 50%;
    text-align: left;
}

.Calc-Body h1{
    color: var(--primary);
    font-weight: 700;
}

.Calc-Info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Calc-Button{
    width: 707px;
    height: 129px;
    margin-top: 600px;
    margin-left: 200px;
    background: var(--white);
    justify-content: flex-end;
}

.Calc-Button button{
    width: 270px;
    height: 50px;
    border-radius: 0;
    margin-top: 40px;
    margin-left: 350px;
}

.Block{
    margin-top: 20px;
    background: #E9EBEF;
    padding: 12px;
}


.Window-Types{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Sections{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Section{
    display: flex;
    flex-direction: column;
}

.Select{
    width: 167px;
    border-radius: 0;
}

.Parameters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Parameter{
    display: flex;
    flex-direction: column;
}

.Parameter input{
    width: 389px;
    border-radius: 0;
}


.Parameter select{
    width: 389px;
    border-radius: 0;
}

.Options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Option select{
    width: 389px;
    border-radius: 0;
}

.Window{
    /* Rectangle 4 */

    position: absolute;
    width: 568px;
    margin-left: 200px;
    height: 650px;
    left: 1152px;
    top: 81px;

    background: #4275C2 no-repeat;
}

.Window img{
    margin-left: -300px;
}

.Form-Data input{
    border-radius: 0;
}

.Form-Data button{
    border-radius: 0;
}

.Form-Label{
    border-radius: 0;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Form-Button{
    border-radius: 0;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}