.Four-Block{
    background: var(--primary);
    display: flex;
    flex-direction: row;
    text-align: left;
    color: var(--white);
}

.Four-Block img{
    height: 450px;
}

.Four-Header{
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.Four-Block h1{
    font-weight: 700;
    font-size: 74px;
}

.Four-Block label{
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.Four-Block button{
    border-color: white;
    color: white;
    margin-top: 60px;
    width: 250px;
    border-radius: 0;
}