.Five-Block {
    display: flex;
    height: 727px;
    flex-direction: row;
    padding: 60px;
    background: white;
}

.col h1 {
    color: var(--primary);
}

.col {
    text-align: left;
}

.Form button{
    border-radius: 0;
}

.Form input{
    border-radius: 0;
}

.col label {
    /*margin-top: 24px;*/
}

.col form {
    margin-top: 24px;
}

.Image {
    width: 711px;
    height: 505px;
    margin-top: 60px;
    background-color: var(--white);
    mix-blend-mode: multiply;
}

.Social img{
    width: 40px;
    height: 40px;
}