.Profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.Profile-Content{
    padding: 60px;
    margin-bottom: 150px;
}

.Profile h1 {
    color: var(--primary);
}

.Profile-Container {
    display: flex;
    flex-direction: row;
}

.Account {
    margin: 12px;
    border: solid 1px;
    border-color: var(--primary);
    padding: 12px;
    width: 890px;
    height: 560px;
    display: flex;
    flex-direction: column;
}

.Account h3 {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.Account-Buttons {
    display: flex;
    margin-top: 12px;
    flex-direction: row;
}

.Account-Buttons button {
    width: 216px;
    height: 40px;
    margin: 0 5px 0 0;
}

.Account-Container {
    background: #E9EBEF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Account-Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Account-Column {
    display: flex;
    flex-direction: column;
}

.Account-Container button{
    border-radius: 0;
}

.Account-Column img{
    margin-bottom: 20px;
}

.Account-Column input {
    width: 354px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.Orders {
    margin: 12px;
    border: solid 1px;
    border-color: var(--primary);
    padding: 60px;
    width: 50%;
}

.Order-Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.Order-Header-Data {
    display: flex;
    flex-direction: row;
}

.Order-Header-Data label {
    margin: 5px;
}

.Total-Sum {

}

.Product-Header{
    display: flex;
    flex-direction: row;
}

.Product-Header-Data{
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.Product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.Product-Image {
    width: 137px;
    height: 137px;
}